<h1>{{ winner }}</h1>
<hr>
<div class="game">
  <div class="player">
    <h2>Player {{ gameService.connectedPlayer }}:</h2>

    <div class="inline-choice">
      <div class="image" *ngFor="let item of listOfChoices" [class.selected]="item.selected">
        <img [src]="item.img" [alt]="item.name" class="src" (click)="makeChoice(item)">
      </div>
    </div>
  </div>
  <div class="computer">
    <h2>Computer:</h2>
    <div class="inline-choice" *ngIf="gameService.getComputerChoice != null">
      <div class="image">
        <img [src]="gameService.getComputerChoice.img" [alt]="gameService.getComputerChoice.name" class="src">
      </div>
    </div>
    <div class="no-choice">

    </div>
  </div>
  <div class="scoreboard">
    <h2>Scoreboard:</h2>
    <table>
      <tr>
        <th>Player</th>
        <th>Victories</th>
        <th>Defeats</th>
        <th>Draws</th>
        <th>Percentage</th>
      </tr>
      <tr *ngFor="let player of gameService.scoreBoard">
        <td>{{ player.playerName }}</td>
        <td>{{ player.victories }}</td>
        <td>{{ player.defeats }}</td>
        <td>{{ player.draws }}</td>
        <td>{{ player.percentage | number }}%</td>
      </tr>
    </table>
  </div>
</div>


