.game {
  display: flex;
  .player {
    .inline-choice {
      display: flex;
      .image {
        filter: grayscale(100%);
        margin-right: 10px;
        :last-child {
          margin-right: 0;
        }
        &.selected {
          filter: grayscale(0%);
        }
        img {
          cursor: pointer;
        }
      }
    }
  }
  .computer {

  }
}
