<mat-toolbar color="primary"><mat-toolbar-row>
  <h1 class="title-selector" [routerLink]="'/'">Rock Paper Scissors: The Game !</h1>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/player'" *ngIf="!gameService.connectedPlayer"> Player access </a>
    <a mat-button [routerLink]="'/game'" *ngIf="gameService.connectedPlayer"> Game access </a>
  </div>
  <div class="right" *ngIf="gameService.connectedPlayer">
    <a mat-button> {{ (gameService.connectedPlayer) ? gameService.connectedPlayer : 'Non connecté(e)' }} </a>
    <mat-icon class="logout" (click)="gameService.logout()">exit_to_app</mat-icon>
  </div>
</mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
